# cilium-values.yml.j2
k8sServiceHost: {{ k3s_node_ip }}
k8sServicePort: 6443

kubeProxyReplacement: true

l2announcements:
  enabled: true

externalIPs:
  enabled: true

k8sClientRateLimit:
  qps: 50
  burst: 200

operator:
  replicas: 1 # set to 1 if you only have one node
  rollOutPods: true

rollOutCiliumPods: true

ingressController:
  enabled: true
  default: true
  loadbalancerMode: shared
  service:
    annotations:
      io.cilium/lb-ipam-ips: {{ k3s_node_ip }}
nodePort:
  enabled: true # <= necessary for cilium ingress
  enableHealthCheck: true

l7Proxy: true # <== for cilium ingress
ipam:
  operator:
    clusterPoolIPv4PodCIDRList: 10.42.0.0/16
# Enables Hubble
hubble:  
  relay:
    enabled: "true"
  ui:
    enabled: "true"
